* {
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choice {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.choice:hover {
   transform: scale(1.1);
   box-shadow: 0 0 10px black;
   cursor: pointer;
   background-color: #081b31;
}
#scissors{
    background-color:#346739;
    border-radius: 50%;
}
#rock{
    background-color:#4E8D9C;
    border-radius: 50%;
}
#paper{
   background-color: #8F0177;
   border-radius: 50%;
}
img{
    height: 80px;
    width: 80px;
    pointer-events: none;
    object-fit: cover;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,#comp-score{
       font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}